*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuildDefault
.cxx
*.apk
*.aab
*.jks
*.keystore
!upload-keystore.jks.sample
local.properties
/build-logic/convention/build/
**/build/
.kotlin/
