<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".tile.RecordingTileService"
            android:icon="@drawable/ic_tile_recording"
            android:label="@string/tile_label"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>
